<?xml version="1.0"?>

<launch>
    <arg name="control_mode" default="dist_accel_altitude"/>

    <node name="reef_teleop" pkg="reef_teleop" type="reef_teleop" output="screen">
        <rosparam subst_value="true">
            control_mode: $(arg control_mode)
            initial_z_cmd: -1.0
        </rosparam>
    </node>
</launch>
